[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/https:/github.com/tpope/vim-fugitive.git"]
	path = .vim/bundle/https:/github.com/tpope/vim-fugitive.git
	url = git@github.com:tpope/vim-rails.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = git@github.com:powerline/fonts.git
